@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:active {
        outline: none !important;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #111;
    overflow-x: hidden;

    @include respond(normal-desktop) {
        //width < 1600px
        font-size: 60%;
    }
    @include respond(tab-land) {
        //width < 1440px
        font-size: 56.25%;
        overflow-y: visible !important;
    }
    @include respond(tab-port) {
        //width < 1040px
        font-size: 50%;
    }
    @include respond(phone) {
        //width < 700px
        font-size: 40%;
    }
}

body {
    font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    min-height: 65vh;
}

a:link,
a:visited {
    color: rgb(0, 132, 255);
}

a:focus,
a:active {
    outline: none;
}

::-moz-selection {
    background-color: $accent;
    color: $white;
}

::selection {
    background-color: $accent;
    color: $white;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #000;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $accent;
}

.MuiInputBase-root {
    font-size: 1.6rem !important;
}

.MuiInputBase-input {
    font-size: 1.6rem !important;
}
