.home {
    display: flex;
    flex-direction: column;
    background-color: #111;

    &-title {
        color: #fff;
        font-size: 5rem;
        padding: 5rem 0;
        width: 100%;
        text-align: center;
    }

    &-random {
        background-color: #222;
        margin-top: 10rem;
        padding-bottom: 5rem;
    }

    &-features {
        color: #fff;
        font-size: 3rem;
        display: flex;
        justify-content: space-evenly;

        @include respond(phone) {
            flex-direction: column;
        }

        &-card {
            width: 25%;
            text-align: center;

            @include respond(phone) {
                width: 100%;
                padding: 0 5%;
            }

            &-icon {
                color: $accent;

                @include respond(phone) {
                    margin-top: 3rem;
                }
            }

            &-title {
                font-size: 3.5rem;
                padding: 2rem 0;
            }

            &-text {
                padding: 2rem 0 0 2rem;
                text-align: left;
            }
        }
    }

    &-banner {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
        overflow: hidden;

        @include respond(tab-port) {
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;

            & > * {
                width: 100% !important;
            }
        }

        &-review {
            position: absolute;
            color: #ddd;
            height: 100%;
            padding: 0 10%;
            text-align: center;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1000000;

            &:hover ~ * {
                transform: scale(1.1);
            }

            &-img {
                height: 110px;
                width: 133px;
                object-fit: cover;
                object-position: center;
                clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                margin-bottom: 3rem;
                margin-left: 2rem;
            }
            &-name {
            }
            &-content {
            }
            &-rating {
            }
        }

        &-image {
            justify-self: center;
            align-self: center;
            width: 100%;
            height: 400px;
            object-fit: cover;
            filter: brightness(30%);
            transition: all 0.75s cubic-bezier(0.25, 1, 0.5, 1);

            &-container {
                position: relative;
            }

            @include respond(tab-port) {
            }

            &_1 {
                width: 33%;
            }

            &_2 {
                width: 33%;
            }

            &_3 {
                width: 33%;
            }
        }
    }

    &-loading {
        position: fixed;
        background-color: $white;
        height: 100vh;
        width: 100vw;
        z-index: 100000000000;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(0rem);

        animation: moveOutTop 1s ease-out 1s;
        animation-fill-mode: backwards;

        & img {
            height: 50% !important;
        }
    }

    &-hero {
        position: relative;

        &-cta {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-title {
            text-align: center;
            font-size: 5rem;
            color: $white;

            animation: moveInTop 1.5s ease 1.25s;
            animation-fill-mode: backwards;

            transition: all 0.4s ease;
        }

        &-text {
            font-size: 3.6rem;
            margin-top: 3rem;
            color: $white;

            animation: moveInTop 1s ease 1.25s;
            animation-fill-mode: backwards;

            transition: all 0.4s ease;
        }

        &-button {
            margin-top: 5rem;
            font-size: 3rem;
            padding: 0.5rem 1.5rem;
            border: none;
            border-radius: 4px;
            font-weight: 700;
            background-color: $accent;

            animation: moveInBottom 1s ease 1.5s;
            animation-fill-mode: backwards;

            transition: all 0.4s ease;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: #111;
            }

            &:hover {
                background-color: $lightaccent;
                color: #000;
                cursor: pointer;
            }

            &::before,
            &::after {
                clear: both;
                display: none;
            }
        }

        &-video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            align-items: center;
            opacity: 0.2;

            background-image: linear-gradient(to top, #000 0%, #fff 10%);

            @include respond(tab-port) {
                height: 100vh;
                width: auto;
                object-position: -450px 0px;
            }
        }
    }

    &-main {
        display: flex;
        justify-content: space-around;
        height: 70vh;
        padding: 0rem 10% 10rem;

        @include respond(tab-port) {
            font-weight: 800;
            align-items: center;
        }

        &-last {
            margin-bottom: 10rem;
        }
    }

    &-divisor {
        opacity: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.2);
        clip-path: polygon(40% 0%, 88% 0%, 52.5% 100%, 2.5% 100%);

        // animation: fadeIn 1s ease 0.75s;
        // animation-fill-mode: backwards;

        &::before,
        &::after {
            clear: both;
            display: none;
        }
    }

    &-cta {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        // margin-bottom: 3rem;
        padding-left: 1rem;
        width: 35%;

        @include respond(tab-port) {
            position: absolute;
            z-index: 1000;
            width: 60%;
            height: auto;
        }

        &_text {
            width: 90%;
            color: $white;
            line-height: 1.6;
            text-align: left;
            animation: moveInBottom 1s ease 0.5s;
            animation-fill-mode: backwards;

            @include respond(tab-port) {
                color: $white;
            }
        }

        &_button {
            margin: 5rem 0;
            background-color: $accent;
            padding: 1rem 1.5rem;
            border-radius: 3px;
            font-size: 2.2rem;
            font-weight: 500;
            border: none;

            animation: moveInBottom 1s ease 0.75s;
            animation-fill-mode: backwards;

            transition: all 0.4s ease;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: #111;
            }

            &:hover {
                background-color: $lightaccent;
                color: #000;
                cursor: pointer;
            }

            &::before,
            &::after {
                clear: both;
                display: none;
            }
        }
    }

    &-image1 {
        width: 55%;
        height: 100%;

        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        background-position: center;
        object-fit: cover;

        animation: moveInRight 1s ease 0.75s;
        animation-fill-mode: backwards;

        @include respond(tab-port) {
            clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            width: 100%;
            filter: brightness(0.5);
            object-position: 40% 0%;
        }
    }

    &-image2 {
        width: 55%;
        height: 100%;

        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
        background-position: right;
        object-fit: cover;

        animation: moveInLeft 1s ease 0.75s;
        animation-fill-mode: backwards;

        @include respond(tab-port) {
            clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
            width: 100%;
            filter: brightness(0.5);
            object-position: 70% 0%;
        }
    }
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5%;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9000;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;

    @include respond(tab-port) {
        bottom: 25px;
    }
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
