.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 10% 0.5% 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
    background-image: linear-gradient(to top, #00000050, #00000060);
    animation: moveInTop 1s ease 0.5s;
    animation-fill-mode: backwards;

    overflow: hidden;

    @include respond(phone) {
        position: fixed;
        top: 0;
        padding: 1% 0;
        overflow: visible;
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 400px;
        object-fit: cover;

        @include respond(tab-port) {
            height: 100px;
            width: 20rem;
        }
        @include respond(phone) {
            height: 100px;
            width: 20rem;
        }

        &_image {
            transform: scale(0.5);
            background-color: $white;
            border-radius: 50%;
            @include respond(phone) {
                transform: scale(0.3);
            }
        }

        &_text {
            height: 200px;
            transform: scale(1);
            filter: invert(100%);
            margin-left: -3rem;
            @include respond(tab-port) {
                transform: scale(0.85);
                margin-left: -10rem;
                display: none;
            }
            @include respond(phone) {
                transform: scale(0.7);
                margin-left: -8rem;
            }
            @include respond(smallphone) {
                transform: scale(0.6);
                padding-left: 5rem;
            }
        }
    }

    &-links {
        display: flex;

        @include respond(tab-port) {
            //width < 1040px
            display: none;
        }

        & > * {
            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: $white;
                font-family: "Ubuntu";
                font-weight: 700;
                margin-left: 3rem;
                font-size: 2.4rem;

                @include animBorder(500ms);
            }
        }

        &_active {
            &::after {
                content: "";
                position: relative;
                display: block;
                height: 3px;
                width: 100%;
                background-color: $white;
                transform: scaleX(1) !important;
                transform-origin: 0%;
                top: 2px;
            }
        }
    }

    &-hamburger {
        display: none;

        &_active {
            @include respond(tab-port) {
                //width < 1040px
                display: flex;
                flex-direction: column;
                background-color: #222;
                padding: 1rem 2rem;
                position: fixed;
                top: 15rem;
                right: 5%;
                overflow: hidden;
                animation: fadeIn 0.5s ease;
                animation-fill-mode: both;
            }

            & > * {
                &,
                &:link,
                &:visited {
                    text-decoration: none;
                    color: $white;
                    font-family: "Ubuntu";
                    font-size: 3rem;

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }

                    @include animBorder(500ms);
                }
            }
        }

        &_close {
            @include respond(tab-port) {
                display: flex;
                flex-direction: column;
                background-color: #222;
                padding: 1rem 2rem;
                position: fixed;
                top: 15rem;
                right: 5%;
                overflow: hidden;
                animation: fadeOut 0.5s ease;
                animation-fill-mode: both;

                & > * {
                    &,
                    &:link,
                    &:visited {
                        text-decoration: none;
                        color: $white;
                        font-family: "Ubuntu";
                        font-size: 3rem;

                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }

                        @include animBorder(500ms);
                    }
                }
            }
        }
    }
}

.hamburger {
    display: none;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 30px;
        right: 10%;
        width: 5rem;
        height: 5rem;
        transition: all 0.3s ease;

        &::before,
        &::after {
            clear: both;
            content: "";
        }

        &:hover {
            cursor: pointer;
        }

        & > * {
            border-bottom: 4px solid $white;
            margin-top: 1.5rem;
        }

        &-one {
            transform: rotate(0);
            transition: all 0.3s ease;

            &_open {
                transition: all 0.3s ease;
                transform: rotate(45deg) translateY(1.5rem) translateX(1rem);
            }
        }

        &-two {
            opacity: 1;
            width: 80%;
            align-self: flex-end;

            &_open {
                opacity: 0;
            }
        }

        &-three {
            transform: rotate(0);
            transition: all 0.3s ease;

            &_open {
                transition: all 0.3s ease;
                transform: rotate(-45deg) translateY(-2rem) translateX(1.5rem);
            }
        }
    }

    &_open {
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 30px;
            right: 10%;
            width: 5rem;
            height: 5rem;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
            }

            & > * {
                border-bottom: 4px solid $white;
                margin-top: 1.5rem;
            }
        }
    }
}
