.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto,320px));
  column-gap: 40px;
  row-gap: 40px;
  margin: 200px auto;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
  animation: fadeIn 1s ease 0.5s;
  animation-fill-mode: backwards;
  min-height: 63vh;

  &-card {
    background-color: #222;
    border-radius: 3px;
    box-shadow: 0 0 1rem #3f3f3f;
    height: auto;
    min-height: 450px;
    width: 320px;
    display: flex;
    flex-direction: column;
    color: $white;
    transform: translateY(0);
    transition: all 0.2s ease;
    overflow: hidden;

    @include respond (tab-port) {
        min-height: 350px;
        width: 95%;
    }

    &-add {
        color: $green;
        font-size: 6rem;
        margin: auto
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2rem #4c4c4c;
      transform: translateY(-0.5rem);
    }

    &_image {
      object-fit: cover;
      height: 200px;
      width: auto;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    &_title {
      font-size: 3rem;
      font-weight: 500;
      padding: 2rem 3rem;
    }

    &-customer {
      display: flex;
      justify-content: space-between;
      font-size: 2.4rem;
      padding: 2rem 3rem 0rem;

      &_name {
      }
      &_rating {
      }
    }

    &-content {
        display: flex;
        flex-direction: column;
    }

    &_review {
        font-size: 2rem;
        font-weight: 400;
        padding: 2rem 3rem;
      }

    &_date {
      font-size: 2rem;
      font-weight: 400;
      padding: 0rem 3rem 2rem;
    }
  }

  &-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;

    &_image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50vh;
      width: auto;
      object-fit: cover;
      animation: fadeIn .5s ease-out;
      animation-fill-mode: both;
    }

    &_btn {
      border: 2px solid #d22;
      border-radius: 3px;
      background-color: rgba(#d22, 0.1);
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: auto;
      font-size: 3rem;
      color: #ddd;
      padding: 1rem 1.5rem;
      transition: all .1s ease-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(#d22, 0.4);
      }
    }

    &_close {
      position: absolute;
      top: 50px;
      right: 100px;
      color: #d22;
      font-size: 4rem;
      transition: all 0.2s ease;

      @include respond(phone){
          top: 30px;
          right: 30px;
      }

      &:hover {
        cursor: pointer;
        color: #a00;
      }
    }
  }
}
